<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div style="width: 20%; padding: 4rem">
            <div class="card card--primary">
                <header class="card__header">CardTitle</header>
                <div class="card__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, soluta!</div>
            </div>
            <div class="card card--secondary">
                <header class="card__header">CardTitle</header>
                <div class="card__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, soluta!</div>
            </div>
        </div>
    </body>
</html>
